
.display-none{
  display: none;
}

.display-block{
   display: block;
}

.header-background{
  background-color: #110000;
  padding:40px 20px 40px;
  border-radius: 10px;
  color: #fff;
}

main{
	background-color: #f7f7f7 !important;
	border-radius: 5px;
}

.hr{ 
	background-color: #800000;
	margin: 40px 0px 30px 0px; 
	border-radius: 5px;
}

body{
	background-color: #FA8072;
}

.dark-magenta{
	background-color: #8B008B; 
	width: 400px; 
	height: 400px;  
	margin: 10px;
	border-radius: 250px;
}

.alert-info{
	background-color: #A52A2A !important;
	color: #ffffff !important;
	border-radius: 10px;
	border-color: #fff;
}
